<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <meta charset="utf-8">
        <title>Scrabble</title>
    </head>
    <body>
        <div class="container">
            <h2>Input your Scrabble word to be scored!</h2>
            <form action="/process" method="post">
                <label for='word'>Scrabble word</label>
                <input type='text' id='word' name='word' class='form control'>

                <button type='submit' class='btn btn-success'>Submit!</button>
            </form>
        </div>
    </body>
</html>
